.mainPage {
    display: flex;
    border: solid 1px black;
    height: 500px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid 1px black;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: solid 1px black;
}

#searchBar {
    border: solid 1px black;
    height: 30%;
}

#cityList {
    border: solid 1px black;
    height: 70%;
}

#currentWeather {
    border: solid 1px black;
    height:50%
}

#fiveDay {
    border: solid 1px black;
    height: 50%;
}

#uvLow {
    background-color: green;
    color: white;
}

#uvMod {
    background-color: yellow;
    color: black;
}

#uvHigh {
    background-color: orange;
    color: black;
}

#uvVerHigh {
    background-color: red;
    color: white;
}

#uvExtr {
    background-color: purple;
    color: white;
}